name: CI
on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
        - ubuntu-latest
        - macos-latest
    steps:
    - uses: actions/checkout@v1
    - uses: DeLaGuardo/setup-graalvm@1.0
      with:
        graalvm-version: '19.2.1'
    - uses: actions/cache@v1
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-maven-
    - name: native-image
      run: |
        gu install native-image
        ./mvnw package -Pgraal
        mv target/classes/rsc* ./rsc
    - name: check-cli
      run: |        
        ./rsc --version
        ./rsc ws://rsocket-demo.herokuapp.com/ws --request -d 'Hello World!' --debug
        ./rsc wss://rsocket-demo.herokuapp.com/ws --request -d 'Hello World!' --debug
  build-on-win:
    runs-on: windows-latest
    name: build-on-win
    steps:
    - uses: actions/checkout@v1
    - uses: DeLaGuardo/setup-graalvm@1.0
      with:
        graalvm-version: '19.2.1'
    - run: |
        dir C:\hostedtoolcache\windows\GraalVM\19.2.1\x64
