name: CI
on:
  push:
    branches:
    - master
    paths-ignore:
    - README.md
  pull_request:
    branches:
    - master
    paths-ignore:
    - README.md
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
        - os: ubuntu-latest
          platform: x86_64-pc-linux
          classifier: linux-x86_64
          move: mv
          copy: cp
          separator: /
          extension: ""
        - os: macos-latest
          platform: x86_64-apple-darwin
          classifier: osx-x86_64
          move: mv
          copy: cp
          separator: /
          extension: ""
        - os: windows-latest
          platform: x86_64-pc-win32
          classifier: windows-x86_64
          move: move
          copy: copy
          separator: \
          extension: .exe
    steps:
    - uses: actions/checkout@v1
    - uses: ayltai/setup-graalvm@v1
      with:
        java-version: 8
        graalvm-version: 20.3.1
        native-image: true
    - uses: ilammy/msvc-dev-cmd@v1.5.0
      if: runner.os == 'Windows'
    - uses: microsoft/setup-msbuild@v1
      if: runner.os == 'Windows'
    - uses: actions/cache@v1
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-maven-
    - name: native-image
      run: |
        mkdir dist
        mvn package -DskipTests
        ${{ matrix.copy }} target${{ matrix.separator }}rsc*.jar dist${{ matrix.separator }}
        mvn package -Dversion-generate-skip=true -Pnative
        ${{ matrix.move }} target${{ matrix.separator }}classes${{ matrix.separator }}rsc-${{ matrix.classifier }}${{ matrix.extension }} dist${{ matrix.separator }}rsc-${{ matrix.platform }}${{ matrix.extension }}
    - name: chmod
      if: runner.os != 'Windows'
      run: |
        chmod +x dist${{ matrix.separator }}rsc-${{ matrix.platform }}${{ matrix.extension }}
    - name: e2e-test-native
      env:
        RSC_PATH: ..${{ matrix.separator }}dist${{ matrix.separator }}rsc-${{ matrix.platform }}${{ matrix.extension }}
        RSC_OIDCUSERNAME: ${{ secrets.RSC_OIDCUSERNAME }}
        RSC_OIDCPASSWORD: ${{ secrets.RSC_OIDCPASSWORD }}
      run: |
        git clone https://github.com/making/rsc-e2e
        mvn test -f rsc-e2e
    - name: e2e-test-uber-jar
      if: runner.os == 'Linux'
      env:
        RSC_OIDCUSERNAME: ${{ secrets.RSC_OIDCUSERNAME }}
        RSC_OIDCPASSWORD: ${{ secrets.RSC_OIDCPASSWORD }}
      run: |      
        export RSC_PATH="java -jar ../$(ls ./dist/*.jar)"
        mvn test -f rsc-e2e
    - name: upload-dist
      uses: actions/upload-artifact@v1
      with:
        name: dist
        path: dist
